.Descri {
   
    height: 19vh;
    width: 60%;
    display: flex;
    align-items: end;
}

.testes {
    background-color: rgb(255, 255, 255);
    border: 1px solid white;
}

a {
    border: none;
    color: black;
}