footer {
    margin-top: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4E8EEE;
    height: 3rem;
}

.infos {
    gap: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color:  rgba(78, 149, 190, 0.656);
    height: 14rem;
    text-align: center;
    color: white;
}

@media screen and (max-width: 768px) {

    .infos {
    gap: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color:  rgba(78, 149, 190, 0.656);
    height: 30rem;
    text-align: center;
}


}