body {
    
    background-color: #F5F5F5;
   
}

.Categorias {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/listraOnduladaB.png');
    background-size: 110% auto; 
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 30rem;
    color: white;
}

.Categorias a {
    
    font-size: 30px;
    
}

.doces h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}


.Cup{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgba(78, 190, 78, 0.656);
    color: white;
   
}

span a {
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 768px){
 .doces span {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    text-align: center;
 }
 .Categorias a{
   margin: 10px; 
   width: 7rem;
 
}

.doces .Cup {
    gap: 4rem;
    color: white;
}

.Categorias a {
    
    font-size: 15px;
    
}


}

